body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #333;
    padding: 0.5rem 0;
}

div {
    box-sizing: border-box;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}

section {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 0;
}

li:last-child {
    border-bottom: none;
}

input[type="text"] {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
}

input[type="text"]:focus {
    outline: none;
    border-color: #007BFF;
}

input[type="submit"], input[type="button"] {
    margin-top: 10px;
}
